@import 'mixin.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

body {
  background: #ffffff;
  color: #333333;
  font-family: Ubuntu, sans-serif;
  font-size: 1em;
  height: 100%;
  min-width: 320px;
  margin: 0;
}

.relevant {
  margin: 20px 0;
  font-size: (30em/16);
  color: #000;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.quotes {
  display: none;

}
.visuallyhidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.is-sticky{
  .hh-menu{
    li{
      font-size: (13em/16);
    }
  }
}

.celeste {
  color: #00bbd3;
}

.bx-wrapper {
  margin-bottom: 30px;
  .bx-viewport {
    border: none !important;
    box-shadow: none !important;
    left: 0 !important;
  }
  .bx-pager {
    bottom: 10px;
  }

  .bx-prev {
    background: url("../images/sprite.png") 0 0 !important;
    width: 63px !important;
    height: 123px !important;
  }

  .bx-next {
    background: url("../images/sprite.png") -69px 0 !important;
    width: 63px !important;
    height: 123px !important;
  }
}

#header {
  nav {
    background: #f1f2f2;
    ul {
      li {
        float: left;
        position: relative;
        a {
          @include box_sizing(border-box);
          color: #737b81;
          font: 300 12px/15px "Ubuntu", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          i {
            &:before {
              font-size: (30em/16);
              @include transition(color 0.5s ease);
            }
          }

          &:hover {
            color: #00bbd3;
          }
        }
      }
    }

    #header-links {
      float: left;
      li {
        a {
          padding: (16em/16) (25em/16);
          display: block;
        }
      }
    }

    #header-social {
      float: right;
      li {
        padding: (16em/30) (15em/30);
        &.calls {
          font-weight: bold;
          font-size: (25em/16);
          line-height: (25em/16);
          padding: 0 (15em/30);
          width: (313em/25);
          .fa-phone {
            margin-right: (5em/16);
          }
        }
        a {
          &.fb {
            color: #3b5998;
          }
          &.tw {
            color: #00aced;
          }
          &.wh {
            color: #4dc247;
          }
        }
      }
    }
  }

  #header_logo {
    margin: (15em/16) 0 (20em/16) 0;
    position: relative;
    .logo-text {
      font-size: (36em/16);
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #333333;
      letter-spacing: -2px;
      line-height: (60em/36);
    }

    .logo-anchor{
      img{
        margin-right: 5px;
      }
      .slogan{
        bottom: -4px;
        color: #666666;
        font-size: 12px;
        left: 71px;
        position: absolute;
      }
    }

    &.sticky{
      display: none;
      font-size: 12px;
      float: left;
      margin-right: 5em;
      margin-top: 0;
      margin-bottom: 0;

      img{
        margin-right: 10px;
        width: 51px !important;
      }

      .slogan{
        display: none;
      }
    }
  }

  #top-menu {
    background: #00bbd3;
    z-index: 999999;
    .hh-menu {
      position: relative;
      width: 100%;
      li {
        a {
          position: relative;
          color: #a5f3fd;
          display: block;
          margin: 0 4px;
          padding: 15px 12px;
          position: relative;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 700;

          &:before {
            background: #3e464c;
            bottom: 10px;
            content: "";
            height: 6px;
            left: 0;
            opacity: 0;
            position: absolute;
            @include transition(all 0.25s ease-in-out);
            width: 100%;
          }

        }
        &:hover,
        &.active {
          a {
            color: #ffffff !important;
            &:before {
              bottom: 0;
              opacity: 1;
              @include transition(all 0.25s ease-in-out);
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
}

#main-phones {
  position: absolute;
  z-index: 99999;
  top: 2.5em;
  left: 15%;

  .phones-list{
    margin-top: 1em;
    li{
      float: none;
      position: relative;
      padding-left: 65px;
      i{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .title {
    font-size: 50px;
    color: #333333;
    font-weight: bold;
  }
  .phone {
    color: #dd4b39;
    font-size: 60px;
    margin: 3px 0px 0px 17px;
    font-weight: bold;
    float: left;
  }
  .service{
    color: #cccccc;
    font-size: 20px;
    margin-top: 2px;
    font-weight: bold;

    .fa{
      margin:6px 4px 0 0;
      float: left;
      &:before{
        color: #333333 !important;
        font-size: 60px;
      }

      &.fa-mobile{
        &:before{
          font-size: 70px;
        }
      }
    }
    .dest-title{
      float: left;
      font-size: 80px;
      color: #333;
    }
    .dest-sub{
      clear: both;
      font-weight: 300;
      color: #333;
      font-size: 26px;
      background: #B3D4FC;
      display: table;
      padding: 0 .5em;
      
    }
  }
}

.home{
  .col{
    width: 33% !important;
    float: left;
    margin-top: 2em;
  }
}

#slider-home {
  .caption {
    position: absolute;
    z-index: 999;
    top: 38%;
    left: 15%;
    width: 80%;
    .banner {

      .subtitle {
        font-size: 20px;
        color: #333333;
        font-weight: bold;
      }
    }

    .listWithMarker {
      margin-top: 90px;
      li {
        list-style: disc;
        display: block;
        margin-top: 10px;
        padding-left: 10px;
        background: #999999;
        display: table;
        padding: 0 5px;
        color: #ffffff;
        font-size: (26em/16);
        font-weight: 300;
      }
    }
  }
}

.content {
  .wrapper {
    border-top: 1px solid #dcdee0;
  }
  .col {
    width: 47%;
  }

  .marTop1 {
    margin-top: 43px;
  }

  p {
    margin-top: 15px;
    color: #666;
    font: 14px "Roboto", Arial, sans-serif;
  }

  h2 {
    color: #333;
    font: 500 34px/34px "Roboto", Arial, sans-serif;
    margin-top: 47px;
  }
  .hline2 {
    border-bottom: 1px solid #cecece;
    padding-bottom: 25px;
    position: relative;
    margin-right: 30px;
    display: block;
    height: 335px;

    &:last-child {
      margin-right: 0;
    }

    .h3_num {
      color: #333;
      display: inline-block;
      font: bold 33px/33px "Roboto", Arial, sans-serif;
      margin-right: 10px;
      margin-top: -10px;
    }
    &:last-child {
      border-bottom: none;
    }

    a{
      color: #666;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .hline2.v2 {
    margin-bottom: 0;
    margin-top: 26px;
    padding-bottom: 24px;
  }

  .link2 {
    color: #00bbd3;
    font: bold 18px "Roboto", Arial, sans-serif;
    text-decoration: none;
  }

  .grid_8 {
    width: 770px;
  }

  .img1 {
    float: left;
    margin-right: 18px;
    margin-top: 30px;
  }
  .marTop3 {
    margin-top: 38px;
  }

  .marTop4 {
    margin-bottom: 21px;
    margin-top: 17px;
  }
  .img2 {
    margin-top: 37px;
  }

  .sign_section {
    background: url("../images/sign1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 58px;
    padding-top: 5px;
  }
  .sign_section {
    .link2 {
      color: #333;
    }
  }

  figure.img_inner {
    display: block;
    height: auto;
    line-height: 0;
    margin: 37px 0 0;
    overflow: hidden;
  }

  figure iframe {
    height: 300px;
    width: 100%;
  }

  .marTop5 {
    margin-bottom: 6px;
    margin-top: 23px;
    font-weight: bold;
    font-size: 24px;
  }

  .marcas{
    font-style: italic;
  }

}

.marks {
  background: url("../images/hogar-help-mark-bg.jpg");
  background-attachment: fixed;
  padding: 2em 0 5em;
  margin: 5em 0 0;
  .grid_2 {
    width: 170px;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
    a.link_logo {
      display: block;
      margin-bottom: -6px;
      margin-top: 36px;
      &:hover {
        img {
          opacity: .5;
          @include transition(opacity .5s ease);
        }
      }
    }
  }
}

#footer {
 background: #333333;
 padding: 2em 0;

  nav{
    .hh-menu{
      margin: 0 auto 0;
      display: table;
      li{
        float: left;
        margin-right: 1em;
        font-size: (14em/16);
        a{
          color: #666666;
          text-decoration: none;
          &:hover{
            text-decoration: underline !important;
          }
        }
        &.active{
          a{
            text-decoration: underline !important;
          }
        }
      }
    }
  }

  .copyright{
    text-align: center;
    color: #999999;
    margin-top: .25em;

    a{
      color: #666666;
      text-decoration: none;
      &:hover{
        text-decoration: underline !important;
      }
    }
  }

  #footer-social {
    margin: 0 auto;
    display: table;
    li {
      padding: (16em/30) (15em/30);
      float: left;
      a{
        color: #666666;
        font-size: (46em/16);
      }
    }
  }

}

.service {
  .col {
    margin: 2em 0;
    float: left;
    width: 33%;
  }
  .col2{
    margin: 2em 0 ;
    float: left;
    width: 49%;
  }

  .hline2:last-child {
    margin-right: 30px !important;
  }
}

.empresa {
  p {
    margin-top: 15px;
  }
}

.orbs-list {
  list-style: inside none disc !important;
  padding: 10px;
  li {
    margin-bottom: 5px;
  }
}

.cobertura {
  .col {
    margin: 0 0 2em;
    float: left;
    width: 48%;
    &:nth-child(2n) {
      float: right;
    }
  }
}

.contacto {
  .grid_3 {
    width: 30%;
    float: left;
  }
  .grid_8 {
    width: 65%;
    float: right;
  }
  .hline2{
    height: inherit !important;
  }

  .hline2.v3 {
    margin-bottom: -8px;
    margin-top: 32px;
    padding-bottom: 24px;
  }
  h3 {
    color: #00bbd3;
    font: bold 18px/24px "Roboto", Arial, sans-serif;
  }
  #contact-form {
    margin-top: 37px;
    position: relative;

    input,select {
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
      border: none;
      background: #dddddd;
      width: 30%;
      margin-right: 1%;
    }

    .phone {
      input {
        margin-right: 0;
      }
    }

    .especialidad {
      input {
        width: 97%;
        margin-right: 0;
        margin-top: 2%;
        @include box_sizing(border-box);
      }
    }

    textarea {
      width: 100%;
      border: none;
      background: #dddddd;
      padding: 10px 5px;
      max-width: 728px;
      height: 300px;
      overflow: auto;
      margin-top: 1em;
    }

    .more_btn {
      background: #00bbd3;
      padding: 5px 20px;
      display: block;
      width: 8%;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;
      margin: 1em 0;
    }

    &.solicitar-service{
      input,select {
        width: 97%;
        margin-right: 0;
        margin-top: 2%;
        @include box_sizing(border-box);
      }

      .desperfecto{
        textarea{
          height: 100px;
        }
      }
      select{
        color: #777;
      }
    }
  }
}