@import 'mixin.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

body {
  background:#ffffff;
  color: #333333;
  font-family: Ubuntu,sans-serif;
  font-size: 1em;
  height: 100%;
  min-width: 320px;
  margin: 0;
}

.wrapper{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header{
  .nav{
    background: #f1f2f2;
  }
}